* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #3B8EA5; /* blue */
    overflow: hidden;
  /*  border-radius: 25px; */
  }
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
  }
  .navbar a:hover {
    background-color: #91C3D3; /* light blue */
    color: #333;
  }
  
  /* Button styles */
  .button {
    background-color: #00B28B; /* green */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .button:hover {
    background-color: #009A74; /* dark green */
  }
  
  /* Header styles */
  .header {
    background-color: #1D7874; /* cyan */
    color: #fff;
    text-align: center;
    padding: 80px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  .avatar {
              width: 150px;
              height: 150px;
              border-radius: 75px;
              margin: 0 auto 20px;
          }
  
  /* Main content styles */
  .content {
    padding: 50px;
    border-radius: 25px;
    background-color: #fff;
  }
  .content h1 {
    color: #1D7874; /* cyan */
  }
  .content p {
    line-height: 1.5;
  }
  
  /* Footer styles */
  .footer {
    background-color: #3B8EA5; /* blue */
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .repositories {
  /*      max-width: 800px; */
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f8f8;
        border: 1px solid #fff;
        border-radius: 5px;
      }
  
      .repositories h2 {
        margin-top: 0;
        font-size: 24px;
        font-weight: bold;
      }
  
      .repositories ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
  
      .repositories li {
        margin-bottom: 10px;
      }
  
      .repositories a {
        display: block;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-decoration: none;
        color: #333;
      }
  
      .repositories a:hover {
        background-color: #f5f5f5;
      }
  
      .repositories h3 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: bold;
      }
  
      .repositories p {
        margin: 0;
        font-size: 14px;
        color: #666;
      }
        .container {
          max-width: 600px;
          margin: 0 auto;
          padding: 20px;
        }
  
        .stats {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
  
        .stat {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          padding: 10px;
          margin-bottom: 10px;
          flex-basis: calc(33.33% - 20px);
        }
  
        .stat h2 {
          margin-top: 0;
        }
  
        .stat p {
          font-size: 2em;
          font-weight: bold;
          margin: 0;
        }