* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;

}

body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* Navbar styles */
.navbar {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.navbar a {
  float: left;
  padding: 10px 20px;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.clear-button {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button {
  background-color: #00B28B;
  /* green */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #009A74;
  /* dark green */
}

/* Header styles */
.header {
  /* cyan */
  color: #fff;
  text-align: left;
  padding: 10%;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin: 0 auto 20px;
}

/* Main content styles */
.content {
  padding: 50px;
  border-radius: 25px;
  background-color: #0D160B;

}

.content h1 {
  color: wheat;
  /* cyan */
}

.content p {
  line-height: 1.5;
  color: whitesmoke;
}

/* Footer styles */

.footer {
  background-color: #0A1192;
  /* Dukeblue */
  color: #fff;
  text-align: center;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.repositories {
  backdrop-filter: blur(3px);
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  display: block;
  overflow-x: auto;
  color: whitesmoke;
}

.repositories li {
  /* flex: 0 0 auto; */
  width: 300px;
  height: 500px;
  /* Imposta la larghezza desiderata per ogni card */
  margin-right: 10px;
}

.repositories h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

.repositories ul {
  display: flex;
  /* Aggiungi questa riga per impostare il layout a riga */
  overflow-x: auto;
}

.repositories a {
  width: inherit;
  height: inherit;
  display: block;
  background-color: #0D160B;

  border-radius: 15px;
  text-decoration: none;
  color: white;
}

.repositories a:hover {
  background-color: black;
}

.repositories h3 {
  padding: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
}

.repositories p {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  color: wheat;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stat {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  flex-basis: calc(33.33% - 20px);
}

.stat h2 {
  margin-top: 0;
}

.stat p {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.blue {
  background-color: #390099;
}

.blue a:hover {
  background-color: #4300B8;
}

.dukeblue {
  background-color: #0A1192;
}

.lightblue {
  background-color: #81AE9D;
}

.jungle {
  background-color: #21A179;
}

.orange {
  background-color: #FF5400;
}

.amber {
  background-color: #FFBD00;
}

.p {
  color: #f2f2f2;
}

.horizontal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.div-element {
  margin: 5px;
  padding: 10px;
  flex: 1 0 calc(33.33% - 10px);
  /* Utilizza circa un terzo della larghezza del contenitore */
}

@media (max-width: 600px) {
  .div-element {
    flex-basis: calc(50% - 10px);
    /* Utilizza circa la metà della larghezza del contenitore su schermi più stretti */
  }
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.project {
  position: relative;
  background-size: cover; /* o 'contain' a seconda delle tue preferenze */
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding: 20px;
  overflow: hidden;
}


.project::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  z-index: 1; /* Assicurati che il gradiente sia sopra l'immagine di sfondo */
}


.project h3,
.project p {
    position: relative;
    z-index: 2; /* Assicurati che il testo sia sopra il gradiente */
}

.smartcloud {
  background-image: url('smartcloud.png');
}

.flappy {
  background-image: url('flappy.png');
}

.outro {
  background-image: url('outro.png');
}
